<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exercise Routines | <%=title%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Workout</h1></a>
                <p>404 ERROR</p>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/addworkout">Add Workout</a></li>
                <li><a href="/addmeal">Add Meal</a></li>
                <li><a href="/create">New Date Entry</a></li>
            </ul>
        </nav>
        <div class="not-found content">
            <h4>OOPS!</h4>
            <p>We couldn't find what you were looking for.</p>
            <p>If you think this error was not supposed to happen, feel free to contact us!</p>
        </div>
    </body>
    <footer>
        <p>Copyright &copy; Jeffrey Xie 2020</p>
    </footer>
</html>