<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exercise Routines | <%=title%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Workout</h1></a>
                <p>About Page</p>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/addworkout">Add Workout</a></li>
                <li><a href="/addmeal">Add Meal</a></li>
                <li><a href="/create">New Date Entry</a></li>
            </ul>
        </nav>
        <p>Track Your Daily Workouts And Caloric Intakes!</p>
        <p>Put Together By: Jeffrey Xie</p>
        <p>This Website Was Made Using NodeJS And MongoDB</p>
        <p>Email Any Questions And Suggestions To jeffreyxie0615@gmail.com</p>
        
    </body>
    <footer>
        <p>Copyright &copy; Jeffrey Xie 2020</p>
    </footer>
</html>